<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyALtGZCZm5Kww40LcytZCgLAO1uZe4mzSk</string>
	<key>GCM_SENDER_ID</key>
	<string>564929370068</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vietxcode.DaiQiOS</string>
	<key>PROJECT_ID</key>
	<string>daiqios</string>
	<key>STORAGE_BUCKET</key>
	<string>daiqios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:564929370068:ios:983671af9979372b8f2841</string>
</dict>
</plist>